*{
    border: none;
    outline: none;
}
body{
    background-color: #000049;
    font-family: system-ui ;
}
form{
    padding: 30px;
    background-color: #fff;
    border-radius: 6px;
    transition: 0.3s;
}
.valid{
    position: relative;
}
div.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
input{
    display: block;
    margin: 10px;
    padding: 10px;
}
#user,
#pas,
#newPass,
#userName,
#passAgain{
    background: none;
    border: 1px solid #ddd;
    border-radius: 6px;
} h3{
    width: fit-content;
    margin: 10px auto 20px;
    font-size: 30px;
    font-family: system-ui;
}
span.big{
    font-size: 12px;
width: fit-content;
margin: 30px auto 0;
display: block;
font-family: system-ui;

}
span #click,#have{
    cursor: pointer;
    color: #0075ff;
}
#have{
    font-family: system-ui;
    font-size: 12px;
}
#have:hover{
    text-decoration: underline;
}
/*form div{
    position: relative;
}*/
/*form div label{
    position: absolute;
    left: 15px;
    top: 10px;
} */
.sub span, .sub-c span{
    background-color: #eee;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}
.pas{
    position: relative;
}
.check input{
    cursor: pointer;
}
.check{
position: absolute;
top: 0;
right: 12px;
}
.create{
    /* display: none; */
    transition: .5s;
    background: #fff;
width: 100%;
height: 100%;
/* z-index: 999; */
top: 0;
border-radius: 6px;
padding: 10px;
position: absolute;
left: 0;
transform: rotateY(90deg);
}
.backFace{
    position: relative;
}
#userName,
#newPass ,
#passAgain{
    width: fit-content;
    margin: 0 auto 10px;
}
.check-c{
    position: absolute;
    transform: translate(-50%, 50%);
    top: -15px;
    right: 20px;
}
.sub-c{
    margin: 20px auto 0;
    width: fit-content;
    text-align: center;
}
.sub-c input{
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    background-color: #eee;
}
.saved{
    margin: 0 auto;
    width: fit-content;
    display: block;
    opacity: 0;
    /*animation-name: op;
    */animation-delay: 1s;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes op {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}